BODY                 { background: #ffffff; color: #000000 }
:link                { background: #ffffff; color: #000fff }
:visited             { background: #ffffff; color: #0000ff }
:active              { background: #ffffff; color: #0000ff }

BODY.top             { background: #003399; color: #ffffff }
TABLE.top            { background: #003399; color: #ffffff }

BODY.navbar          { background: #003399; color: #ffff00 }
TABLE.navbar         { background: #003399; color: #ffff00 }
TD.navbar            { background: #003399; color: #ffff00 }
TD.navbar :link      { background: #003399; color: #ffff00 }
TD.navbar :visited   { background: #003399; color: #ffff00 }
TD.navbar :active    { background: #003399; color: #ffff00 }
TH.navbar            { background: #ff9900; color: #000000 }
