BODY                 { background: #ffffff; color: #000000 }
:link                { background: #ffffff; color: #000fff }
:visited             { background: #ffffff; color: #0000ff }

BODY.top             { background: #ffffff; color: #000000 }
TABLE.top            { background: #ffffff; color: #000000 }
TD.top               { background: #ffffff; color: #000000 }
TH.top               { background: #ffffff; color: #000000 }

BODY.navbar          { background: #99ccff; color: #000000 }
TABLE.navbar         { background: #99ccff; color: #000000 }
TD.navbar            { background: #99ccff; color: #000000 }
TD.navbar :link      { background: #99ccff; color: #000fff }
TD.navbar :visited   { background: #99ccff; color: #0000ff }
TH.navbar            { background: #99ccff; color: #000000 }
TH.navbar :link      { background: #99ccff; color: #000fff }
TH.navbar :visited   { background: #99ccff; color: #0000ff }

BODY.navbar-win          { background: #99ccff; color: #000000 }
TABLE.navbar-win         { background: #99ccff; color: #000000 }
TD.navbar-win            { background: #99ccff; color: #000000; background-image: url(/images/ico-win.png); background-repeat: no-repeat; background-position: left; padding: 2px 0 2px 18px; display: block; }
TD.navbar-win :link      { background: #99ccff; color: #000000; }
TD.navbar-win :visited   { background: #99ccff; color: #000000; }
TH.navbar-win            { background: #99ccff; color: #000000 }
TH.navbar-win :link      { background: #99ccff; color: #000fff }
TH.navbar-win :visited   { background: #99ccff; color: #0000ff }

BODY.navbar-mac          { background: #99ccff; color: #000000 }
TABLE.navbar-mac         { background: #99ccff; color: #000000 }
TD.navbar-mac            { background: #99ccff; color: #000000; background-image: url(/images/ico-osx-uni.png); background-repeat: no-repeat; background-position: left; padding: 2px 0 2px 18px; display: block; }
TD.navbar-mac :link      { background: #99ccff; color: #000000; }
TD.navbar-mac :visited   { background: #99ccff; color: #000000; }
TH.navbar-mac            { background: #99ccff; color: #000000 }
TH.navbar-mac :link      { background: #99ccff; color: #000fff }
TH.navbar-mac :visited   { background: #99ccff; color: #0000ff }
